/* header {
  padding: 30px 100px;
  justify-content: space-between;
  align-items: center;
}

header .navigation a {
  color: #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-decoration: none;
  font-size: medium;
  font-weight: 1000;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  transition-property: background;
  padding: 10px 20px;
}
header .navigation a:not(:last-child) {
  margin-right: 30px;
}
header .navigation a:hover {
  background: #fae31a;
} */